{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}


<h1>{{post.title}} </h1>

<small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}
    {% if user.is_authenticated%}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a></small><br/>
        {% endif %}
    {% endif %}
<hr>
<br/>
{% if post.header_image %}
    <img src="{{post.header_image.url}}">
{% endif %}
<br/><br/>
{{post.body | safe}}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated%}
        {% if liked %}
            <button type = "submit", name ="post_id", value="{{post.id}}" ,class ="btn btn-danger btn-sm">{{ total_likes }} Unlike</button>
        {%else%}
            <button type = "submit", name ="post_id", value="{{post.id}}" ,class ="btn btn-primary btn-sm">{{ total_likes }} Likes</button>
        {%endif %}
        {%else%}
        <small><a  href="{% url 'login' %}">login to like</a></small>
        {%endif %}
    </form>
    <hr>
<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-2">
        {%if post.author.profile.profile_pic %}
            <img src="{{post.author.profile.profile_pic.url}}" class="card-img">
            {%else%}
            <img src="{% static 'lekhanapp/images/profile.png' %}" class="card-img" width =100 height =100>
      {%endif%}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title"> {{post.author.first_name}} {{post.author.last_name}}</h5>
            <p class="text-muted">
                <a href="{%url 'show_profile_page' post.author.profile.id %}">Profile Page</a> | 
                
                {% if post.author.profile.instagram_url %}
                    <a href="{{post.author.profile.instagram_url}}">Instagram</a> | 
                {% endif %}
                {% if post.author.profile.twitter_url %}
                    <a href="{{post.author.profile.twitter_url}}">Twitter</a> | 
                {% endif %}
                {% if post.author.profile.pinterest_url %}
                    <a href="{{post.author.profile.pinterest_url}}">Pinterest</a> | 
                {% endif %}
                {% if post.author.profile.fb_url %}
                    <a href="{{post.author.profile.fb_url}}">Facebook</a>
                {% endif %}
            </p>
        <p class="card-text">{{post.author.profile.bio}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<hr>
    <br/><br/>
        <h2>Comments....</h2>
        {%if not post.comments.all %}
            No Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One</a>
        {% else %}
        <br/><br/>
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        <br/><br/>
            {% for comment in post.comments.all %}
                <strong>
                    {{comment.name}} -
                    {{comment.date_added}}
                </strong>
                <br/>
                {{comment.body}}
                <br/><br/>
                
            {% endfor %}
                <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        {%endif%}
        <hr>
    <br/><br/>

{% endblock  %}